<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OfficeManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WorkAllocationController</display-name>
    <servlet-name>WorkAllocationController</servlet-name>
    <servlet-class>com.oms.controller.WorkAllocationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkAllocationController</servlet-name>
    <url-pattern>/WorkAllocationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayrollController</display-name>
    <servlet-name>PayrollController</servlet-name>
    <servlet-class>com.oms.controller.PayrollController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayrollController</servlet-name>
    <url-pattern>/PayrollController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.oms.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveController</display-name>
    <servlet-name>LeaveController</servlet-name>
    <servlet-class>com.oms.controller.LeaveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveController</servlet-name>
    <url-pattern>/LeaveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResignationController</display-name>
    <servlet-name>ResignationController</servlet-name>
    <servlet-class>com.oms.controller.ResignationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResignationController</servlet-name>
    <url-pattern>/ResignationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.oms.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>com.oms.log.LoggerInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/LoggerInitializer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.oms.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>GettingEmployeeId</display-name>
    <servlet-name>GettingEmployeeId</servlet-name>
    <servlet-class>com.oms.controller.GettingEmployeeId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GettingEmployeeId</servlet-name>
    <url-pattern>/GettingEmployeeId</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>